body{
    font-family: 'Poppins', sans-serif;
}
.honda-common-color{
    color: #E76F51;
}
.bg-btn{
background-color: #E76F51;
}
.bg-honda-primary{
    background-color: #264653;
}

.bike-grayscale{
    filter: grayscale(100%);
}
.fa-star{
    color: #E77C40;
}
.client-name{
    color: #23A6F0;
}
.footer-bg {
    background-color: #0B0D17;
}